<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
	<title> Creativo Fotografía | Home</title>
	<link rel="stylesheet" href={{ url_for('static', filename="home.css") }} />
</head>
<body>
    <header>
    	<div class="start">
			<div>
				<nav>
					<ul>
						<li><a>Home</a></li>
						<li><a>Blogs</a></li>
						<li><a>Abouts</a></li>
					</ul>
				</nav>
				<h1 class="start">Creativo Fotografía</h1>
			</div>
			<img src={{ url_for('static', filename="img/profile.jpeg")}} class="logo" />
		</div>
	</header>
	<section>
		<div class="content">
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/coin-drop.jpeg')}}/>
				<h4 class="content">The Drop of Life...</h4>
			</div>
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/british_coin.jpeg')}}/>
				<h4 class="content">Happiness or Anxiety...</h4>
			</div>
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/large_drop_coin.jpeg')}}/>
				<h4 class="content">Small Drops make an Ocean...</h4>
			</div>
		</div>
		<div class="content">
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/light_trail_buddha.jpeg')}}/>
				<h4 class="content">Smile can Bring the Light of Joy...</h4>
			</div>
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/portal_buddha.jpeg')}}/>
				<h4 class="content">The Faded Portal...</h4>
			</div>
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/spotlight_buddha.jpeg')}}/>
				<h4 class="content">Darkness of Pain behind the Smiles...</h4>
			</div>
		</div>
		<div class="content">
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/script.jpeg')}}/>
				<h4 class="content">The Speaking History...</h4>
			</div>
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/focus.jpeg')}}/>
				<h4 class="content">Fous on the Target...</h4>
			</div>
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/earphone.jpeg')}}/>
				<h4 class="content">The Whispering Buddy...</h4>
			</div>
		</div>
		<div class="content">
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/bluesmoke1.jpeg')}}/>
				<h4 class="content">The Blue Stream...</h4>
			</div>
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/updrop-cont.jpeg')}}/>
				<h4 class="content">The Attempt to be Free...</h4>
			</div>
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/bluesmoke2.jpeg')}}/>
				<h4 class="content">Wide Life between Life and Death...</h4>
			</div>
		</div>
		<div class="content">
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/updrop-red.jpeg')}}/>
				<h4 class="content">Going Up or Down...</h4>
			</div>
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/bluesmoke3.jpeg')}}/>
				<h4 class="content">Where Good and Bad Split their Ways...</h4>
			</div>
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/updrop-iso.jpeg')}}/>
				<h4 class="content">Attraction towards the Destiny...</h4>
			</div>
		</div>
		<div class="content">
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/side_eye.jpeg')}}/>
				<h4 class="content">The Truth Behind the Eye...</h4>
			</div>
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/bluesmoke4.jpeg')}}/>
				<h4 class="content">The Chaos...</h4>
			</div>
			<div class="single">
				<img class="square" src={{ url_for('static', filename='img/content/water-oil1.jpeg')}}/>
				<h4 class="content">Something beyond Mind...</h4>
			</div>
		</div>		
	</section>
</body>
</html>